// common styles
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import "variables.scss";
body{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    color:$white-text-color;   
}
body.lock{
    overflow: hidden;
};
.wrapper {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.section-inner{
    max-width: 1170px;
    margin: 0 auto;
}
.section-outer{
    padding: 0 15px;
}
.more-button{
    background-color: $red-color;
    padding: 15px;
    font-size:20px;
    border-radius: 10px;
    color:$white-text-color;
}
// !common styles
// MIXINS
@mixin size-xs(){
    @media ( max-width: $size-xs){
        @content;
    }
}
@mixin size-sm(){
    @media ( max-width: $size-sm){
        @content;
    }
}
@mixin size-mg(){
    @media ( max-width: $size-mg){
        @content;
    }
}
@mixin size-lg(){
    @media ( max-width: $size-lg){
        @content;
    }
}
@mixin size-xl(){
    @media ( max-width: $size-xl){
        @content;
    }
}
// !MIXINS