/* ------------------------------------------------------------------------------------------Import */
@import "normalize.scss";
@import "null.scss";
@import "header.scss";
@import "variables.scss";
@import "common.scss";
@import "footer.scss";
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------main */
.section-main{
    background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url(../img/main/main-bg.jpg) center no-repeat;
    display: flex;
    background-size: cover;
    min-height: 100vh;
    .section-inner{
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__text{
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        gap: 50px;
        span{
            &:nth-child(2){
                color: $red-text-color;
            }
        }
        margin-bottom: 80px;
    }
    .main__button{
        
        a{
            transition: all 0.5s;
            text-align: center;
            padding: 20px;
            background-color: $white-color;
            color: $black-text-color;
            border-radius: 10px;
            font-size: 50px;
            font-weight: 700;
            text-transform: uppercase;  
        }
          
    }
}
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------start */
.section-start{
    transition: all 0.5s;
    padding: 0;
    .section-start__container{
        max-width: none;
        .section-start__title{
            display: flex;
            align-items: center;
            font-size: 60px;
            width: 100%;
            text-align: center;
            height: 100px;
            .title_left{
                flex-basis: 50%;
                height: 100%;
                line-height: 100px;
                text-align: end;
                color: $red-text-color;
                background-color: $white-color;
                padding-right: 5px;
            }
            .title_right{
                text-align: start;
                flex-basis: 50%;
                line-height: 100px;
                height: 100%;
                background-color: $red-color;
                color: $white-text-color;
                padding-left: 5px;
            }
        }
        .section-start__content{
            .content__parent{
                min-height: 400px;
                display: flex;
                
                .content__child_image{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    opacity: 0.9;
                   
                }
                .content__child{
                    justify-content: space-between;
                    background-color: $white-color;;
                    color: $red-text-color;
                    flex-basis: 50%;
                }
                .content__child_text-block{
                    padding: 40px;
                    display: flex;
                    
                    .text-block__text{
                        flex-basis: 70%;
                        
                        h3{
                            font-size: 50px;
                            margin-bottom: 10px;
                        }
                        p{
                            color: $black-text-color;
                            font-size: 24px;
                            line-height: 30px;
                        }
                    }
                    .text-block__number-and-image{
                        display: flex;
                        flex-direction: column;
                        flex-basis: 20%;
                        align-items: flex-end;
                        justify-content: space-between;
                        .number-and-image__number{
                        padding-top: 20px;
                        display: flex;
                        justify-content: flex-end;
                        
                        span{font-size: 150px;
                        line-height: 30px;}
                        }
                        .number-and-image__image{
                            img{
                                width: 100%;
                                height: auto; 
                                max-width: 165px;  
                            }
                              
                        }
                      
                    }
                    
                }
                .content__child_image1{
                    background-image: url(../img/main/pitanie.jpg);
                    background-position: right bottom;
                }
                .content__child_image2{
                    background-image: url(../img/main/tren.jpg);
                }
                .content__child_image3{
                    background-image: url(../img/main/son.jpg);
                }
            }
            .content__parent_reverse{
                flex-direction: row-reverse;
            }
        }
        
        
    }
}
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------food */
.section-food{
    background-color: $white-color;
    padding-top: 50px;
    padding-bottom: 150px;
    .section-food__container{
        max-width: 90%;
    }
    &__title{
        text-align: center;
        h2{
          color:$red-text-color;
          font-size: 60px;  
        }
        margin-bottom: 50px;
        
    }
    &__body{
        color:$black-text-color;
        display: flex;
        justify-content: center;
        
        .body__left{
            border-right: 2px solid black;
            padding-right: 20px;
            .content{
                justify-content: space-between; 
            }
        }
        .body__right{
            border-left: 2px solid black;
            padding-left: 20px;
            .item__content{
                flex-direction: row-reverse;
            }
        }
        .body__item{
            display: flex;
            align-items: center;
            flex-basis: 50%;
            flex-direction: column;
            .item__title{
                h3{
                font-size: 35px;
                margin-bottom: 30px;
                }
            }
            .item__content{
                display: flex;
                height: 100%;
                .content__image{
                    display: flex;
                    justify-content: center;
                    img{
                        max-height:350px;
                        width: auto;
                        
                    } 
                    flex-basis: 50%;
                }
               
                .content__text-and-button{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-basis: 50%;
                    .text-and-button__text{
                        p{
                        line-height: 30px;
                        font-size: 20px;
                        margin-bottom: 50px;}
                    }
                    .text-and-button__button{
                        align-self: center;
                    }
                    
                }
            }
        }
       
    }
}
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------trens*/
.section-trens{
    background-color: $black-color;
    padding-top: 100px;
    padding-bottom: 100px;
    .section-trens__container{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-trens__title{
            h2{
                color:$red-text-color;
                font-size: 60px;  
            }
            margin-bottom: 50px;
        }
        .section-trens__text{

            margin-bottom: 50px;
        }
        .section-trens__list{
            display: flex;
            gap:50px;
            flex-basis: 30%;
            .list__item{
                flex-grow: 1;
                width: 100%;
                .item__image{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;
                    img{
                        width: 100%;
                        height: auto;
                        max-width: 500px;
                    }
                }
                .item__title{
                    font-size: 30px;
                    margin-bottom: 20px;
                    text-align: center;
                }
                .item__text{
                    font-size: 20px;

                }
            }
           
        }

    }
}/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------relax*/
.section-relax{
    background-color: $white-color;
    padding-top: 100px;
    padding-bottom: 100px;color:$black-text-color;
    .section-relax__container{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-relax__title{
            h2{
                
                font-size: 60px;  
            }
            margin-bottom: 50px;
        }
        .section-relax__text{
                font-size: 30px;
            margin-bottom: 50px;
            max-width: 70%;
        }
        .section-relax__list{
            display: flex;
            gap:50px;
            
            flex-wrap: wrap;
            
            .list__item{
                border: 5px solid $red-color;
                box-shadow: rgb(0 0 0 / 25%) 10px 10px 10px;
                border-radius: 10px;flex-basis: 30%;

                padding: 10px;
                flex-grow: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                .item__image{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;                    
                    flex-grow: 0;
                    align-items: center;
                    
                    
                    img{
                        width: auto;
                        height: auto;
                        max-height: 150px;
                        
                    }
                }
                .item__title-and-text
                {
                   .item__title{
                    flex-basis: 20%;
                    flex-grow: 1;
                    font-size: 30px;
                    margin-bottom: 20px;
                    text-align: center;
                }
                .item__text{
                    flex-grow: 1;
                    flex-basis: 30%;
                    font-size: 20px;

                } 
                }
                
            }
           
        }

    }
}/* ------------------------------------------------------------------------------------------ */

