$red-color: #d81c2b;
$white-color: #ffffff;
$black-color:#080808;
$red-text-color:#d81c2b;
$white-text-color: #ffffff;
$black-text-color:#000000;
$title-size: 70px;
$font1: 'Montserrat';
$font2: 'Oswald';
$size-xs: 320px;
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;